mixin calendario(nomeRegione)
    -
        // Fix in modo da ritornare 0 di lunedì
        function weekday(d) { return (d.getUTCDay() == 0) ? 6 : (d.getUTCDay() - 1); }

        const data = new Date();
        const mese = data.getMonth();
        const dataAttuale = new Date();
        dataAttuale.setUTCDate(1); // Inizia il primo del mese
        const numCelleVuote = weekday(dataAttuale);
    table.table.is-bordered.has-text-centered(style="margin-left: auto; margin-right: auto;")
        thead: tr
            th L
            th M
            th M
            th G
            th V
            th S
            th D
        tbody
            tr
                - for (let i = 0; i < numCelleVuote; i++)
                    td
                - while (true) // Emula un do..while nel caso che il mese inizi di lunedì
                    - const rule = ruleFor(nomeRegione, dataAttuale)
                    case rule.color
                        when "rossa"
                            if rule.maybe
                                td.rossa.maybe=dataAttuale.getUTCDate()
                            else
                                td.rossa=dataAttuale.getUTCDate()
                        when "arancione"
                            if rule.maybe
                                td.arancione.maybe=dataAttuale.getUTCDate()
                            else
                                td.arancione=dataAttuale.getUTCDate()
                        when "gialla"
                            if rule.maybe
                                td.gialla.maybe=dataAttuale.getUTCDate()
                            else
                                td.gialla=dataAttuale.getUTCDate()
                        when "bianca"
                            if rule.maybe
                                td.bianca.maybe=dataAttuale.getUTCDate()
                            else
                                td.bianca=dataAttuale.getUTCDate()
                        default
                            td=dataAttuale.getUTCDate()
                    - dataAttuale.setUTCDate(dataAttuale.getUTCDate() + 1)
                    - if (weekday(dataAttuale) == 0) break;
            - while (dataAttuale.getMonth() == mese)
                tr
                    - while (true)
                        - const rule = ruleFor(nomeRegione, dataAttuale)
                        case rule.color
                            when "rossa"
                                if rule.maybe
                                    td.rossa.maybe=dataAttuale.getUTCDate()
                                else
                                    td.rossa=dataAttuale.getUTCDate()
                            when "arancione"
                                if rule.maybe
                                    td.arancione.maybe=dataAttuale.getUTCDate()
                                else
                                    td.arancione=dataAttuale.getUTCDate()
                            when "gialla"
                                if rule.maybe
                                    td.gialla.maybe=dataAttuale.getUTCDate()
                                else
                                    td.gialla=dataAttuale.getUTCDate()
                            when "bianca"
                                if rule.maybe
                                    td.bianca.maybe=dataAttuale.getUTCDate()
                                else
                                    td.bianca=dataAttuale.getUTCDate()
                            default
                                td=dataAttuale.getUTCDate()
                        - dataAttuale.setUTCDate(dataAttuale.getUTCDate() + 1)
                        - if (weekday(dataAttuale) == 0 || dataAttuale.getMonth() != mese) break;