mixin rule_to_card(rule)
    .box
        h1.title.is-4=rule.makeTitle()
        p
            if rule.maybe
                | #{rule.formatInterval()} #[b potrebbero] essere in zona #{rule.color} 
            else
                | #{rule.formatInterval()} sono in zona #{rule.color} 
            if rule.rafforzata
                | rafforzata 
            =rule.whatIsAffected()
            | .
        if (rule.notes != "")
            br
            p: i Nota: #{rule.notes}